<!-- <div class="container">
  <div class="row">
    @for (item of subCategories; track $index) {
    <div class="col-md-4">
      <div class="card border border-0 my-2 shadow p-3 text-center fw-bold fs-6">
        <h3 class="fs-6">Name : {{ item.name }}</h3>
        <h3 class="fs-6">slug : {{ item.slug }}</h3>
        <h3 class="fs-6">createdAt : {{ item.createdAt | date:'short' }}</h3>
        <button class="btn btn-dark" routerLink="/show-subcategory/{{ item._id }}">Show SubCategory</button>
      </div>
    </div>
    }
  </div>
</div> -->
<h1>انا SubCategories</h1>